h1 {
    color: red;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    margin: 1em;

    input, label {
        margin: 0.1em;
    }

    input {
        background-color: lightblue;
    }

    button {
        margin: 0.5em 0 0 0;
    }
}

.timetable {
    display: table;
}

table {
    border: none;
    border-collapse: collapse;
}

tr {
    cursor: pointer;
}

tr:nth-child(even){
    background-color: lightblue;
}

td {
    padding: 0.5em;
    
    
}
